div.about-content {
  display: flex;
  justify-content: center;
}

div.about {
  height: 700px;
  width: 900px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-top: 40px;
  border-radius: 20px;
}

.about > p {
  font-size: 23px;
  line-height: 2;
}
