main.stock-symbol-details {
	display: flex;
	padding: 15px;
	flex-flow: column wrap;
	height: 550px;
	width: 550px;
	margin: 0 auto;
	margin-top: 90px;
	background-color: whitesmoke;
	border-radius: 20px;
}

h1.loading {
	text-align: center;
}

div.symbol {
	justify-content: center;
	background-color: whitesmoke;
}

h3.name-symbol {
	border-bottom: 2px solid black;
	font-size: 23px;
}

ul.details * {
	list-style-type: none;
	margin-top: 18px;
	font-size: 20px;
}

li::before {
	content: '\1F4CA';
	margin-left: -15px;
	margin-right: 5px;
}

.exchange::before {
	content: '\1F4B1';
	margin-left: -15px;
	margin-right: 5px;
}

.high::before {
	content: '\1F4C8';
	margin-left: -15px;
	margin-right: 5px;
}

.low::before {
	content: '\1F4C9';
	margin-left: -15px;
	margin-right: 5px;
}
